@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f1f1f1;
}

a {
  @apply text-blue-500;
}

a:visited {
  @apply text-blue-700;
}

.createboxInput {
  @apply shadow rounded;
}

.wikitable {
  @apply border-0 rounded bg-transparent;
}

.wikitable > * > tr {
  @apply border-0;
}

.wikitable > * > tr > th, .wikitable > * > tr > td {
  @apply border border-neutral-400 px-2 py-1;
}

.oo-ui-toolbar {
  @apply sticky top-0 z-40;
}

#comment {
  @apply resize-none shadow border bg-neutral-100 p-3;
}

.site-button {
  @apply rounded bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 cursor-pointer shadow;
}
