@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f1f1f1;
}

a {
  @apply text-blue-500;
}

a:visited {
  @apply text-blue-600;
}

.searchboxInput {
  @apply shadow rounded text-center border-neutral-300 cursor-pointer focus:cursor-text focus:text-left transition-all;
}

.searchbox > .mw-ui-button {
  @apply hidden;
}

.wikitable {
  @apply border-0 border-separate rounded bg-transparent;
  border-spacing: 0px 0px;
}

.wikitable > caption {
  @apply mb-1;
}

.wikitable > * > tr {
  @apply border-0;
}

.wikitable > * > tr > th {
  @apply bg-neutral-100 hover:bg-neutral-200;
}

.wikitable > * > tr > td {
  @apply hover:bg-neutral-100;
}

.wikitable > * > tr > th, .wikitable > * > tr > td {
  @apply border border-neutral-200 px-2 py-1;
}

.wikitable > * > tr:first-child > th:first-child, .wikitable > * > tr:first-child > td:first-child {
  @apply rounded-tl;
}

.wikitable > * > tr:first-child > th:last-child, .wikitable > * > tr:first-child > td:last-child {
  @apply rounded-tr;
}

.wikitable > * > tr:last-child > th:first-child, .wikitable > * > tr:last-child > td:first-child {
  @apply rounded-bl;
}

.wikitable > * > tr:last-child > th:last-child, .wikitable > * > tr:last-child > td:last-child {
  @apply rounded-br-lg;
}

.oo-ui-toolbar {
  @apply sticky top-0 z-40;
}

#comment {
  @apply resize-none shadow border bg-neutral-100 p-3;
}

.site-button {
  @apply rounded bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 cursor-pointer shadow;
}

h2 {
  @apply text-lg font-bold mb-3 border-b-neutral-300;
}

.mw-references-wrap {
  @apply border-t mt-10 text-neutral-400;
}

.references {
  @apply m-0 ml-3 !important;
}

.ve-ce-nail {
  display: none;
}

br {
  @apply my-3;
}

ul {
  @apply list-disc;
}
